@using AdminLibary.ViewModel.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ListUserViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-inbox bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Basic Table Sizes</h5>
                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="../index.html"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Bootstrap Table</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Basic Initialization</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>UserList</h5>
                                   </div>
                                <div class="card-block table-border-style">
                                   <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Id</th>
                                                    <th>Username</th>
                                                    <th>Fullname</th>
                                                    <th>IsActive</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Users != null && Model.Users.Count > 0)
                                                {
                                                    int count = 1;
                                                    foreach (var item in Model.Users)
                                                    {                                                    
                                                        <tr>
                                                            <td> @count</td>
                                                            <td>@item.Id</td>
                                                            <td>@item.Username</td>
                                                            <td>@item.Fullname</td>
                                                            <td>
                                                                @if (item.IsActive)
                                                                {
                                                                    <button class="btn btn-dark" href="#" data-toggle="modal" data-target="#large-Modal">Disable</button>
                                                                    <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
                                                                        <div class="modal-dialog modal-lg" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h4 class="modal-title">Notification</h4>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <h5>Default Modal</h5>
                                                                                    <p>Are you sure to disable this user ?</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <a href="/User/disable?id=@item.Id" class="btn btn-warning waves-effect " >Disable</a>
                                                                                    <a class="btn btn-primary waves-effect waves-light " data-dismiss="modal">Cancel</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }else{
                                                                    <button class="btn btn-success" href="#" data-toggle="modal" data-target="#large-Modal2">Enable</button>
                                                                    <div class="modal fade" id="large-Modal2" tabindex="-1" role="dialog">
                                                                        <div class="modal-dialog modal-lg" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h4 class="modal-title">Notification</h4>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <h5>Default Modal</h5>
                                                                                    <p>Are you sure to Enable this user ?</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <a href="/user/enable?id=@item.Id" class="btn btn-warning waves-effect " >Enable</a>
                                                                                    <a class="btn btn-primary waves-effect waves-light " data-dismiss="modal">Cancel</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </td>
                                                            <td>
                                                               @* <button class="btn btn-warning">Update</button>*@
                                                                <button class="btn btn-warning">Delete</button>
                                                            </td>
                                                        </tr>
                                                        count++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>Not Found</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                   </div>
                                </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@section Scripts{
    @if (ViewBag.Error != null)
    {
        <script>
            iziToast.error({
                title: 'Error: ',
                message: '@ViewBag.Error',
                position: 'topRight'
            });
        </script>
    }
    @if (ViewBag.Success != null)
    {
        <script>
            iziToast.success({
                title: 'success:',
                message: '@ViewBag.Success',
                position: 'topRight'
            });
        </script>
    }
}
